<nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-image: url('/media/black.jpg')">
    <a class="navbar-brand" href={% url 'user_index' %} style="color: #FFFFFF;">CitySight</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href={% url 'home' %} style="color: #FFFFFF;">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'user_report' %} style="color: #FFFFFF;">Report an Issue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'history' %} style="color: #FFFFFF;">ReportHistory</a>
            </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated  %}
         <form class="form-inline my-2 my-log-0">
          <span class="text-secondary mx-3" style="color: #FFFFFF;">You are logged in as {{user}}</span>
            {% if profile %}
            <a href="{% url 'profile' %}"><img src="/media/{{profile}}" alt="{{ user.username }}" class="rounded-circle" width="50" height="50"></a>
            {% endif %}
            
       {% else %}
         <a class="btn btn-outline-primary my-2 my-sm-0" href={% url 'account_signin' %}>Sign in</a>
         &nbsp;
         <a class="btn btn-outline-primary my-2 my-sm-0" href={% url 'account_register' %}>Sign up</a>
        {% endif %}
        
    </form>
</div>
</nav>
